* {
  margin: 0;
  padding: 0;
}

.my-font {
  font-family: "Ubuntu", sans-serif;
}

.my-img {
  margin: 20px;
  height: 450px;
  width: 420px;
  border: 2px solid white;
  border-radius: 50%;
}

.my-container {
  display: flex;
  justify-content: space-evenly;

}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.my-icon {
  color: white;
}

.info > p {
  border-radius: 8px;
  padding: 2px;
  width: 500px;
}


.skill-container{
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4 {

  height: 45vh;
  width: 18vw;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.skill-1 > img, .skill-2 > img, .skill-3 > img, .skill-4 > img{
  height: 150px;
  width: 150px;
}
.skill-1 > h5, .skill-2 > h5, .skill-3 > h5, .skill-4 > h5{
  font-size: 40px;
}

.skill-4 > h5{
  text-align: center;
}

/* Form Here Responsiveness Starts */

@media(max-width:1100px) {

  .my-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .my-img {
    height: 370px;
    width: 340px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .my-icon {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .description p {
    width: 380px;
  }
}




@media(max-width:1000px) {
  .icons {
    display: flex;
    flex-direction: column;
  }

  .my-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .my-img {
    height: 370px;
    width: 340px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .my-icon {
    padding: 10px;
  }



  .description p {
    width: 400px;
  }
}

@media(max-width:900px) {
  .icons {
    display: flex;
    flex-direction: column;
  }

  .my-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .my-img {
    height: 370px;
    width: 340px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .my-icon {
    padding: 10px;
  }



  .description p {
    width: 320px;
  }
}

@media(max-width:700px) {

  .icons {
    display: flex;
    flex-direction: row;
  }

  .my-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

  .my-img {
    height: 370px;
    width: 340px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .my-icon {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .description p {
    width: 380px;
  }

  .info {
    width: 97vw;
    padding-left: 5px;

  }

  .description p {
    width: 97vw;

  }

}

@media(max-width:380px) {

  .my-container {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
  }

  .my-img {
    height: 230px;
    width: 220px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .my-icon {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .description p {
    width: 98vw;
    /* font-size: 13px; */
    height: 175px;
  }

  .info {
    height: 20vh;
  }

  .info h3 {
    font-size: 20px;
    padding-left: 2px;
  }
}