@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/base";

.container-fluid {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 80vh;
  border-radius: 1rem;
}

.nav-icon {
  padding: 10px;
  color: white;
  border-radius: 10%;
}




@media screen and (max-width:430px) {
  .container {
    height: 30vh;
    max-width: 98vw;
    align-self: start;
    margin-top: 1rem;
  }
}